<!-- create status -->
<div class="hidden lg:p-20 uk- open" id="create-group" uk-modal="">
  <div
    class="uk-modal-dialog tt relative overflow-hidden mx-auto bg-white shadow-xl rounded-lg md:w-[520px] w-full dark:bg-dark2"
  >
    <div class="text-center py-4 border-b mb-0 dark:border-slate-700">
      <h2 class="text-lg font-medium text-black">Tạo nhóm mới</h2>

      <!-- close button -->
      <button
        class="button-icon absolute top-0 right-0 m-2.5 uk-modal-close"
        type="button"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 18L18 6M6 6l12 12"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <div class="flex justify-center m-4">
      <button
        (click)="onCreatePost()"
        class="button bg-blue-500 text-white py-2 px-12 text-[14px]"
        type="button"
      >
        Tạo
      </button>
    </div>
  </div>
</div>
