<div class="2xl:max-w-[1220px] max-w-[1065px] mx-auto">

  <app-tag-group
    [groupPopulars]="groupPopulars"
    [groupSuggestions]="groupSuggestions"
    [myGroups]="myGroups"
  ></app-tag-group>

  <app-group-categories [categories]="categories"></app-group-categories>

  <app-group-suggest [suggestions]="suggestions"></app-group-suggest>

  <div class="flex justify-center my-6">
    <button
      class="bg-white py-2 px-5 rounded-full shadow-md font-semibold text-sm dark:bg-dark2"
      type="button"
    >
      Load more...
    </button>
  </div>
</div>
