<!-- timeline -->
<div class="lg:flex 2xl:gap-16 gap-12 max-w-[1065px] mx-auto" id="js-oversized">
  <div class="max-w-[680px] mx-auto">
    <app-story></app-story>
    <app-post></app-post>
    <app-post-loading></app-post-loading>
  </div>

  <!-- sidebar -->
  <div class="flex-1">
    <div
      class="lg:space-y-4 lg:pb-8 max-lg:grid sm:grid-cols-2 max-lg:gap-6"
      uk-sticky="media: 1024; end: #js-oversized; offset: 80"
    >
      <!-- peaple you might know -->
      <app-feed-people></app-feed-people>

      <!-- latest marketplace items -->
      <app-premium-photos></app-premium-photos>

      <!-- online friends -->
      <app-online-friend></app-online-friend>

      <!-- Pro Members -->
      <app-pro-member></app-pro-member>

      <!-- Trends -->
      <app-trend></app-trend>
    </div>
  </div>
</div>
