<div class="box p-5 px-6 border1 dark:bg-dark2">
    <div class="flex justify-between text-black dark:text-white">
      <h3 class="font-bold text-base">Trends for you</h3>
      <button type="button">
        <!-- <ion-icon name="sync-outline" class="text-xl"></ion-icon> -->
      </button>
    </div>

    <div
      class="space-y-3.5 capitalize text-xs font-normal mt-5 mb-2 text-gray-600 dark:text-white/80"
    >
      <a href="#">
        <div class="flex items-center gap-3 p">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 -mt-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5"
            />
          </svg>
          <div class="flex-1">
            <h4 class="font-semibold text-black dark:text-white text-sm">
              artificial intelligence
            </h4>
            <div class="mt-0.5">1,245,62 post</div>
          </div>
        </div>
      </a>
      <a href="#" class="block">
        <div class="flex items-center gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 -mt-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5"
            />
          </svg>
          <div class="flex-1">
            <h4 class="font-semibold text-black dark:text-white text-sm">
              Web developers
            </h4>
            <div class="mt-0.5">1,624 post</div>
          </div>
        </div>
      </a>
      <a href="#" class="block">
        <div class="flex items-center gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 -mt-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5"
            />
          </svg>
          <div class="flex-1">
            <h4 class="font-semibold text-black dark:text-white text-sm">
              Ui Designers
            </h4>
            <div class="mt-0.5">820 post</div>
          </div>
        </div>
      </a>
      <a href="#" class="block">
        <div class="flex items-center gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 -mt-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5"
            />
          </svg>
          <div class="flex-1">
            <h4 class="font-semibold text-black dark:text-white text-sm">
              affiliate marketing
            </h4>
            <div class="mt-0.5">480 post</div>
          </div>
        </div>
      </a>
    </div>
  </div>