<div class="relative overflow-hidden border -m-2.5 dark:border-slate-700">
  <div class="flex bg-white dark:bg-dark2">
    <!-- sidebar -->
    <div class="md:w-[360px] relative border-r dark:border-slate-700">
      <div
        class="top-0 left-0 max-md:fixed max-md:w-5/6 max-md:h-screen bg-white z-50 max-md:shadow max-md:-translate-x-full dark:bg-dark2"
        id="side-chat"
      >
        <div class="p-4 border-b dark:border-slate-700">
          <div class="flex mt-2 items-center justify-between">
            <h2 class="text-2xl font-bold text-black ml-1 dark:text-white">
              Trò truyện
            </h2>

            <!-- right action buttons -->
            <div class="flex items-center gap-2.5">
              <button class="group">
                <lucide-angular name="settings"></lucide-angular>
              </button>
              <div
                class="md:w-[270px] w-full"
                uk-dropdown="pos: bottom-left; offset:10; animation: uk-animation-slide-bottom-small"
              >
                <nav>
                  <a href="javascript:;">
                    <!-- <ion-icon
                    class="text-2xl shrink-0 -ml-1"
                    name="checkmark-outline"
                  ></ion-icon> -->
                    Mark all as read
                  </a>
                  <a href="javascript:;">
                    <!-- <ion-icon
                    class="text-2xl shrink-0 -ml-1"
                    name="notifications-outline"
                  ></ion-icon> -->
                    notifications setting
                  </a>
                  <a href="javascript:;">
                    <!-- <ion-icon
                    class="text-xl shrink-0 -ml-1"
                    name="volume-mute-outline"
                  ></ion-icon> -->
                    Mute notifications
                  </a>
                </nav>
              </div>

              <button class="">
                <!-- <ion-icon name="checkmark-circle-outline" class="text-2xl flex"></ion-icon> -->
                <lucide-angular name="check-circle"></lucide-angular>
              </button>

              <!-- mobile toggle menu -->
              <button
                class="md:hidden"
                type="button"
                uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full"
              >
                <!-- <ion-icon name="chevron-down-outline"></ion-icon> -->
              </button>
            </div>
          </div>

          <!-- search -->
          <div class="relative mt-4">
            <div class="absolute left-3 bottom-1/2 translate-y-1/2 flex">
              <!-- <ion-icon name="search" class="text-xl"></ion-icon> -->
            </div>
            <input
              class="w-full !pl-10 !py-2 !rounded-lg"
              placeholder="Tìm kiếm ..."
              type="text"
            />
          </div>
        </div>

        <!-- users list -->
        <div
          id="user-list"
          class="space-y-2 p-2 overflow-y-auto md:h-[calc(100vh-204px)] h-[calc(100vh-130px)]"
        >
          <a
            id="user-item"
            *ngFor="let chat of privateList"
            (click)="selectedChat(chat.chatId)"
            class="relative flex items-center gap-4 p-2 duration-200 rounded-xl hover:bg-secondery"
            href="javascript:;"
          >
            <div class="relative w-14 h-14 shrink-0">
              <img
                [src]="chat.avatar"
                alt=""
                class="object-cover w-full h-full rounded-full"
              />
            </div>
            <div class="flex-1 min-w-0">
              <div class="flex items-center gap-2 mb-1.5">
                <div
                  class="mr-auto text-sm text-black dark:text-white font-medium"
                >
                  {{ chat.name }}
                </div>
                <div
                  [appTimeAgo]="chat.lastMessageTime"
                  class="text-xs font-light text-gray-500 dark:text-white/70"
                ></div>
                <div
                  *ngIf="chat.isOnline"
                  class="w-2.5 h-2.5 bg-blue-600 rounded-full dark:bg-slate-700"
                ></div>
              </div>
              <div
                class="font-medium overflow-hidden text-ellipsis text-sm whitespace-nowrap"
              >
                {{ chat.lastMessage }}
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- message center -->
    <app-chat-room [chatId]="chatIdSelected" [profile]="profile">
    </app-chat-room>
    <!-- user profile right info -->
    <app-chat-profile
      [chatId]="chatIdSelected"
      [profile]="profile"
    ></app-chat-profile>
  </div>
</div>
