<div
  class="w-full lg:max-w-sm mx-auto space-y-10"
  uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 100 ;repeat: true"
>
  <!-- logo image-->
  <a href="#">
    <img
      src="assets/images/logo.png"
      class="w-28 absolute top-10 left-10 dark:hidden"
      alt=""
  /></a>
  <a href="#">
    <img
      src="assets/images/logo-light.png"
      class="w-28 absolute top-10 left-10 hidden dark:!block"
      alt=""
  /></a>

  <!-- logo icon optional -->
  <div class="hidden">
    <img
      class="w-12"
      src="assets/images/logo-icon.png"
      alt="Socialite html template"
    />
  </div>

  <!-- title -->
  <div>
    <h2 class="text-2xl font-semibold mb-1.5">Đăng ký một tài khoản để bắt đầu</h2>
    <p class="text-sm text-gray-700 font-normal">
      Nếu bạn đã có tài khoản,
      <a
        href="javascript:;"
        routerLink="/auth/login"
        routerLinkActive="active"
        class="text-blue-700"
        >đăng nhập tại đây!</a
      >
    </p>
  </div>

  <!-- form -->
  <form
    class="space-y-7 text-sm text-black font-medium dark:text-white"
    uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 100 ;repeat: true"
  >
    <div class="grid grid-cols-2 gap-4 gap-y-7">
      <!-- first name -->
      <div>
        <label for="fname" class="">First name</label>
        <div class="mt-2.5">
          <input
            id="fname"
            name="fname"
            type="text"
            autofocus=""
            [(ngModel)]="user.firstName"
            placeholder="First name"
            required=""
            class="!w-full !rounded-lg !bg-transparent !shadow-sm !border-slate-200 dark:!border-slate-800 dark:!bg-white/5"
          />
        </div>
      </div>

      <!-- Last name -->
      <div>
        <label for="lname" class="">Last name</label>
        <div class="mt-2.5">
          <input
            id="lname"
            name="lname"
            type="text"
            placeholder="Last name"
            [(ngModel)]="user.lastName"
            required=""
            class="!w-full !rounded-lg !bg-transparent !shadow-sm !border-slate-200 dark:!border-slate-800 dark:!bg-white/5"
          />
        </div>
      </div>

      <!-- email -->
      <div class="col-span-2">
        <label for="email" class="">Email address</label>
        <div class="mt-2.5">
          <input
            id="email"
            name="email"
            type="email"
            [(ngModel)]="user.email"
            placeholder="Email"
            required=""
            class="!w-full !rounded-lg !bg-transparent !shadow-sm !border-slate-200 dark:!border-slate-800 dark:!bg-white/5"
          />
        </div>
      </div>

      <!-- password -->
      <div>
        <label for="password" class="">Mật khẩu</label>
        <div class="mt-2.5">
          <input
            id="password"
            name="password"
            [(ngModel)]="user.password"
            type="password"
            placeholder="******"
            class="!w-full !rounded-lg !bg-transparent !shadow-sm !border-slate-200 dark:!border-slate-800 dark:!bg-white/5"
          />
        </div>
      </div>

      <!-- Confirm Password -->
      <div>
        <label for="email" class="">Nhập lại mật khẩu</label>
        <div class="mt-2.5">
          <input
            id="password"
            name="password"
            type="password"
            placeholder="******"
            class="!w-full !rounded-lg !bg-transparent !shadow-sm !border-slate-200 dark:!border-slate-800 dark:!bg-white/5"
          />
        </div>
      </div>

      <div class="col-span-2">
        <label class="inline-flex items-center" id="rememberme">
          <input
            type="checkbox"
            id="accept-terms"
            class="!rounded-md accent-red-800"
          />
          <span class="ml-2"
            >you agree to our
            <a href="#" class="text-blue-700 hover:underline">terms of use </a>
          </span>
        </label>
      </div>

      <!-- submit button -->
      <div class="col-span-2">
        <button
          type="button"
          (click)="register()"
          class="button bg-primary text-white w-full"
        >
          Đăng ký
        </button>
      </div>
    </div>

    <div class="text-center flex items-center gap-6">
      <hr class="flex-1 border-slate-200 dark:border-slate-800" />
      Or continue with
      <hr class="flex-1 border-slate-200 dark:border-slate-800" />
    </div>

    <!-- social login -->
    <div
      class="flex gap-2"
      uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 400 ;repeat: true"
    >
      <a
        href="#"
        class="button flex-1 flex items-center gap-2 bg-primary text-white text-sm"
      >
        <!-- <ion-icon name="logo-facebook" class="text-lg"></ion-icon>  -->
        facebook
      </a>
      <a
        href="#"
        class="button flex-1 flex items-center gap-2 bg-sky-600 text-white text-sm"
      >
        <!-- <ion-icon name="logo-twitter"></ion-icon>  -->
        twitter
      </a>
      <a
        href="#"
        class="button flex-1 flex items-center gap-2 bg-black text-white text-sm"
      >
        <!-- <ion-icon name="logo-github"></ion-icon> -->
        github
      </a>
    </div>
  </form>
</div>
