<div
  class="rightt w-full h-full absolute top-0 right-0 z-10 hidden transition-transform"
>
  <div
    class="w-[360px] border-l shadow-lg h-screen bg-white absolute right-0 top-0 uk-animation-slide-right-medium delay-200 z-50 dark:bg-dark2 dark:border-slate-700"
  >
    <div
      class="w-full h-1.5 bg-gradient-to-r to-purple-500 via-red-500 from-pink-500 -mt-px"
    ></div>

    <div class="py-10 text-center text-sm pt-20">
      <img
        [src]="profile?.avatarUrl"
        alt="avatar url"
        class="w-24 h-24 rounded-full mx-auto mb-3"
      />
      <div class="mt-8">
        <div
          class="md:text-xl text-base font-medium text-black dark:text-white"
        >
          {{ profile?.displayName }}
        </div>
        <div class="text-gray-500 text-sm mt-1 dark:text-white/80">
          {{ profile?.username }}
        </div>
      </div>
      <div class="mt-5">
        <a
          class="inline-block rounded-full px-4 py-1.5 text-sm font-semibold bg-secondery"
          href="timeline.html"
        >
          View profile
        </a
        >
      </div>
    </div>

    <hr class="opacity-80 dark:border-slate-700" />

    <ul class="text-base font-medium p-3">
      <li>
        <div
          class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"
        >
          <!-- <ion-icon
                name="notifications-off-outline"
                class="text-2xl"
              ></ion-icon> -->
          Mute Notification
          <label class="switch cursor-pointer ml-auto">
            <input checked type="checkbox" /><span
            class="switch-button !relative"
          ></span
          ></label>
        </div>
      </li>
      <li>
        <button
          class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"
          type="button"
        >
          <!-- <ion-icon name="flag-outline" class="text-2xl"></ion-icon>  -->
          Report
        </button>
      </li>
      <li>
        <button
          class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"
          type="button"
        >
          <!-- <ion-icon name="settings-outline" class="text-2xl"></ion-icon> -->
          Ignore messages
        </button>
      </li>
      <li>
        <button
          class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"
          type="button"
        >
          <!-- <ion-icon name="stop-circle-outline" class="text-2xl"></ion-icon> -->
          Block
        </button>
      </li>
      <li>
        <button
          class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-red-50 text-red-500"
          type="button"
        >
          <!-- <ion-icon name="trash-outline" class="text-2xl"></ion-icon>  -->
          Delete Chat
        </button>
      </li>
    </ul>

    <!-- close button -->
    <button
      class="absolute top-0 right-0 m-4 p-2 bg-secondery rounded-full"
      type="button"
      uk-toggle="target: .rightt ; cls: hidden"
    >
      <!-- <ion-icon name="close" class="text-2xl flex"></ion-icon> -->
    </button>
  </div>

  <!-- overly -->
  <div
    class="bg-slate-100/40 backdrop-blur absolute w-full h-full dark:bg-slate-800/40"
    uk-toggle="target: .rightt ; cls: hidden"
  ></div>
</div>
