<div class="box p-5 px-6 border1 dark:bg-dark2">
  <div class="flex justify-between text-black dark:text-white">
    <h3 class="font-bold text-base">Pro Members</h3>
  </div>

  <div
    class="relative capitalize font-normal text-sm mt-4 mb-2"
    tabindex="-1"
    uk-slider="autoplay: true;finite: true"
  >
    <div class="overflow-hidden uk-slider-container">
      <ul class="-ml-2 uk-slider-items w-[calc(100%+0.5rem)]">
        <li class="w-1/2 pr-2">
          <a href="timeline.html">
            <div
              class="flex flex-col items-center shadow-sm p-2 rounded-xl border1"
            >
              <a href="timeline.html">
                <div class="relative w-16 h-16 mx-auto mt-2">
                  <img
                    src="assets/images/avatars/avatar-5.jpg"
                    alt=""
                    class="h-full object-cover rounded-full shadow w-full"
                  />
                </div>
              </a>
              <div class="mt-5 text-center w-full">
                <a href="timeline.html">
                  <h5 class="font-semibold">Martin Gray</h5>
                </a>
                <div class="text-xs text-gray-400 mt-0.5 font-medium">
                  12K Followers
                </div>
                <button
                  type="button"
                  class="bg-secondery block font-semibold mt-4 py-1.5 rounded-lg text-sm w-full border1"
                >
                  Follow
                </button>
              </div>
            </div>
          </a>
        </li>
      </ul>

      <button
        type="button"
        class="absolute -translate-y-1/2 bg-slate-100 rounded-full top-1/2 -left-4 grid w-9 h-9 place-items-center dark:bg-dark3"
        uk-slider-item="previous"
      >
        <!-- <ion-icon name="chevron-back" class="text-2xl"></ion-icon> -->
      </button>
      <button
        type="button"
        class="absolute -right-4 -translate-y-1/2 bg-slate-100 rounded-full top-1/2 grid w-9 h-9 place-items-center dark:bg-dark3"
        uk-slider-item="next"
      >
        <!-- <ion-icon
                  name="chevron-forward"
                  class="text-2xl"
                ></ion-icon> -->
      </button>
    </div>
  </div>
</div>
