<div id="wrapper">
  <!-- header -->

  <app-header></app-header>

  <!-- sidebar -->
  <div
    class="fixed top-0 left-0 z-[99] pt-[--m-top] overflow-hidden transition-transform xl:duration-500 max-xl:w-full max-xl:-translate-x-full"
    id="site__sidebar"
  >
    <app-sidebar></app-sidebar>
  </div>

  <!-- main contents -->
  <main
    class="2xl:ml-[--w-side] xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]"
    id="site__main"
  >
    <router-outlet></router-outlet>
  </main>
</div>
