<!-- feed story -->
<div class="mx-auto flex-1 xl:space-y-6 space-y-3">
  <!-- add story -->
  <div
    class="bg-white rounded-xl shadow-sm md:p-4 p-2 space-y-4 text-sm font-medium border1 dark:bg-dark2"
  >
    <div class="flex items-center md:gap-3 gap-1">
      <div
        class="flex-1 bg-slate-100 hover:bg-opacity-80 transition-all rounded-lg cursor-pointer dark:bg-dark3"
        uk-toggle="target: #create-status"
      >
        <div class="py-2.5 text-center dark:text-white">
          Bạn đang nghĩ gì vậy?
        </div>
      </div>
      <div
        class="cursor-pointer hover:bg-opacity-80 p-1 px-1.5 rounded-xl transition-all bg-pink-100/60 hover:bg-pink-100 dark:bg-white/10 dark:hover:bg-white/20"
        uk-toggle="target: #create-status"
      >
        <svg
          class="w-8 h-8 stroke-pink-600 fill-pink-200/70"
          fill="none"
          stroke="#2c3e50"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0h24v24H0z" fill="none" stroke="none" />
          <path d="M15 8h.01" />
          <path
            d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
          />
          <path d="M3.5 15.5l4.5 -4.5c.928 -.893 2.072 -.893 3 0l5 5" />
          <path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l2.5 2.5" />
        </svg>
      </div>
      <div
        class="cursor-pointer hover:bg-opacity-80 p-1 px-1.5 rounded-xl transition-all bg-sky-100/60 hover:bg-sky-100 dark:bg-white/10 dark:hover:bg-white/20"
        uk-toggle="target: #create-status"
      >
        <svg
          class="w-8 h-8 stroke-sky-600 fill-sky-200/70"
          fill="none"
          stroke="#2c3e50"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0h24v24H0z" fill="none" stroke="none" />
          <path
            d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z"
          />
          <path
            d="M3 6m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"
          />
        </svg>
      </div>
    </div>
  </div>

  <div
    *ngFor="let post of posts"
    class="bg-white rounded-xl shadow-sm text-sm font-medium border1 dark:bg-dark2"
  >
    <!-- post heading -->
    <div class="flex gap-3 sm:p-4 p-2.5 text-sm font-medium">
      <a href="timeline.html">
        <img
          alt=""
          class="w-9 h-9 rounded-full"
          src="assets/images/avatars/avatar-5.jpg"
        />
      </a>
      <!-- <div class="flex-1">
        <a href="timeline.html">
          <h4 class="text-black dark:text-white">
            {{ post.poster.fullName }}
          </h4>
        </a>
        <div class="text-xs text-gray-500 dark:text-white/80">
          {{ post.timePosted }}
        </div>
      </div> -->

      <div class="-mr-1">
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="button__ico w-8 h-8"
          type="button"
        >
          <!-- <ion-icon
          class="text-xl md hydrated"
          name="ellipsis-horizontal"
          role="img"
          aria-label="ellipsis horizontal"
        ></ion-icon> -->
        </button>
        <div
          class="w-[245px] uk-dropdown"
          uk-dropdown="pos: bottom-right; animation: uk-animation-scale-up uk-transform-origin-top-right; animate-out: true; mode: click"
        >
          <nav>
            <a href="javascript:">
              <!-- <ion-icon
              class="text-xl shrink-0 md hydrated"
              name="bookmark-outline"
              role="img"
              aria-label="bookmark outline"
            ></ion-icon> -->
              Add to favorites
            </a>
            <a href="javascript:">
              <!-- <ion-icon
              class="text-xl shrink-0 md hydrated"
              name="notifications-off-outline"
              role="img"
              aria-label="notifications off outline"
            ></ion-icon> -->
              Mute Notification
            </a>
            <a href="javascript:">
              <!-- <ion-icon
              class="text-xl shrink-0 md hydrated"
              name="flag-outline"
              role="img"
              aria-label="flag outline"
            ></ion-icon> -->
              Report this post
            </a>
            <a href="javascript:">
              <!-- <ion-icon
              class="text-xl shrink-0 md hydrated"
              name="share-outline"
              role="img"
              aria-label="share outline"
            ></ion-icon> -->
              Share your profile
            </a>
            <hr />
            <a
              class="text-red-400 hover:!bg-red-50 dark:hover:!bg-red-500/50"
              href="javascript:"
            >
              <!-- <ion-icon
              class="text-xl shrink-0 md hydrated"
              name="stop-circle-outline"
              role="img"
              aria-label="stop circle outline"
            ></ion-icon> -->
              Unfollow
            </a>
          </nav>
        </div>
      </div>
    </div>
    <!-- post content type text -->
    <div *ngIf="post.type == post_type.POST_TEXT" class="sm:px-4 p-2.5 pt-0">
      <p class="font-normal">
        {{ post.content }}
      </p>
    </div>
    <!-- post content type image -->
    <a
      *ngIf="post.type == post_type.POST_IMAGE"
      href="#preview_modal"
      uk-toggle
    >
      <!-- <div class="relative w-full lg:h-96 h-full sm:px-4">
        <img
          alt=""
          class="sm:rounded-lg w-full h-full object-cover"
          src="assets/images/post/img-2.jpg"
        />
      </div> -->
      <app-photo [photo]="post.images"></app-photo>
    </a>
    
    <!-- post content type slide -->
    <div
      *ngIf="post.type == post_type.POST_SLIDE"
      class="relative uk-visible-toggle sm:px-4"
      tabindex="-1"
      uk-slideshow="animation: push;ratio: 4:3"
    >
      <ul
        class="uk-slideshow-items overflow-hidden rounded-xl"
        uk-lightbox="animation: fade"
      >
        <li class="w-full">
          <a
            class="inline"
            data-caption="Caption 1"
            href="https://getuikit.com/docs/images/photo3.jpg"
          >
            <img
              alt=""
              class="w-full h-full absolute object-cover insta-0"
              src="assets/images/post/img-2.jpg"
            />
          </a>
        </li>
        <li class="w-full">
          <a
            class="inline"
            data-caption="Caption 2"
            href="https://getuikit.com/docs/images/photo2.jpg"
          >
            <img
              alt=""
              class="w-full h-full absolute object-cover insta-0"
              src="assets/images/post/img-3.jpg"
            />
          </a>
        </li>
        <li class="w-full">
          <a
            class="inline"
            data-caption="Caption 3"
            href="https://getuikit.com/docs/images/photo.jpg"
          >
            <img
              alt=""
              class="w-full h-full absolute object-cover insta-0"
              src="assets/images/post/img-4.jpg"
            />
          </a>
        </li>
      </ul>

      <a
        class="nav-prev left-6"
        href="javascript:"
        uk-slideshow-item="previous"
      >
        <!-- <ion-icon name="chevron-back" class="text-2xl"></ion-icon> -->
      </a>
      <a class="nav-next right-6" href="javascript:" uk-slideshow-item="next">
        <!-- <ion-icon name="chevron-forward" class="text-2xl"></ion-icon
    > -->
      </a>
    </div>

    <!-- post icons -->
    <div class="sm:p-4 p-2.5 flex items-center gap-4 text-xs font-semibold">
      <div>
        <div class="flex items-center gap-2.5">
          <button
            class="button-icon text-red-500 bg-red-100 dark:bg-slate-700"
            type="button"
          >
            <!-- <ion-icon class="text-lg" name="heart"></ion-icon> -->
          </button>
          <!-- <a href="javascript:">{{ post.likes.length }}</a> -->
        </div>
        <div
          class="p-1 px-2 bg-white rounded-full drop-shadow-md w-[212px] dark:bg-slate-700 text-2xl"
          uk-drop="offset:10;pos: top-left; animate-out: true; animation: uk-animation-scale-up uk-transform-origin-bottom-left"
        >
          <div
            class="flex gap-2"
            uk-scrollspy="target: > button; cls: uk-animation-scale-up; delay: 100 ;repeat: true"
          >
            <button
              class="text-red-600 hover:scale-125 duration-300"
              type="button"
            >
              <span> 👍 </span>
            </button>
            <button
              class="text-red-600 hover:scale-125 duration-300"
              type="button"
            >
              <span> ❤️ </span>
            </button>
            <button
              class="text-red-600 hover:scale-125 duration-300"
              type="button"
            >
              <span> 😂 </span>
            </button>
            <button
              class="text-red-600 hover:scale-125 duration-300"
              type="button"
            >
              <span> 😯 </span>
            </button>
            <button
              class="text-red-600 hover:scale-125 duration-300"
              type="button"
            >
              <span> 😢 </span>
            </button>
          </div>

          <div
            class="w-2.5 h-2.5 absolute -bottom-1 left-3 bg-white rotate-45 hidden"
          ></div>
        </div>
      </div>
      <div class="flex items-center gap-3">
        <button
          class="button-icon bg-slate-200/70 dark:bg-slate-700"
          type="button"
        >
          <!-- <ion-icon class="text-lg" name="chatbubble-ellipses"></ion-icon> -->
        </button>
        <!-- <span>{{ post.comment.total }}</span> -->
      </div>
      <button class="button-icon ml-auto" type="button">
        <!-- <ion-icon class="text-xl" name="paper-plane-outline"></ion-icon> -->
      </button>
      <button class="button-icon" type="button">
        <!-- <ion-icon class="text-xl" name="share-outline"></ion-icon> -->
      </button>
    </div>

    <!-- comments -->
    <div
      class="sm:p-4 p-2.5 border-t border-gray-100 font-normal space-y-3 relative dark:border-slate-700/40"
    >
      <app-comment [comment]="post.comment"></app-comment>
    </div>

    <!-- add comment -->
    <div
      class="sm:px-4 sm:py-3 p-2.5 border-t border-gray-100 flex items-center gap-1 dark:border-slate-700/40"
    >
      <img
        alt=""
        class="w-6 h-6 rounded-full"
        src="assets/images/avatars/avatar-7.jpg"
      />

      <div id="comment-post" class="flex-1 relative overflow-hidden h-10">
        <textarea
          placeholder="Viết bình luận ..."
          rows="1"
          class="w-full resize-none !bg-transparent px-4 py-2 focus:!border-transparent focus:!ring-transparent"
          aria-haspopup="true"
          aria-expanded="false"
          [(ngModel)]="cmt.content"
        ></textarea>

        <div
          class="!top-2 pr-2 uk-drop"
          uk-drop="pos: bottom-right; mode: click"
        >
          <div
            class="flex items-center gap-2"
            uk-scrollspy="target: > svg; cls: uk-animation-slide-right-small; delay: 100 ;repeat: true"
          >
            <svg
              class="w-6 h-6 fill-sky-600"
              fill="currentColor"
              style="opacity: 0"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                fill-rule="evenodd"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 fill-pink-600"
              fill="currentColor"
              style="opacity: 0"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.25 4A2.25 2.25 0 001 6.25v7.5A2.25 2.25 0 003.25 16h7.5A2.25 2.25 0 0013 13.75v-7.5A2.25 2.25 0 0010.75 4h-7.5zM19 4.75a.75.75 0 00-1.28-.53l-3 3a.75.75 0 00-.22.53v4.5c0 .199.079.39.22.53l3 3a.75.75 0 001.28-.53V4.75z"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <button
        type="button"
        (click)="comment(post.id)"
        class="text-sm rounded-full py-1.5 px-3.5 bg-secondery"
      >
        Bình luận
      </button>
    </div>
  </div>
</div>
