<!-- sidebar inner -->
<div
  class="p-2 max-xl:bg-white shadow-sm 2xl:w-72 sm:w-64 w-[80%] h-[calc(100vh-64px)] relative z-30 max-lg:border-r dark:max-xl:!bg-slate-700 dark:border-slate-700"
>
  <div class="pr-4" data-simplebar>
    <nav id="side">
      <ul>
        <li *ngFor="let menu of menus" [ngClass]="{ active: menu.isActive }">
          <a href="javascript:;" (click)="redirect(menu.page)">
            <img
              [src]="'assets/images/icons/' + menu.image"
              [alt]="menu.page"
              class="w-6"
            />
            <span> {{ menu.title }} </span>
          </a>
        </li>
      </ul>

      <!-- <button
        type="button"
        class="flex items-center gap-4 py-2 px-4 w-full font-medium text-sm text-black dark:text-white"
        uk-toggle="target: #show__more; cls: !hidden uk-animation-fade"
      >
        <svg
          class="bg-gray-200 rounded-full w-6 h-6 dark:bg-slate-700"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span id="show__more"> See More </span>
        <span class="!hidden" id="show__more"> See Less </span>
      </button> -->
    </nav>

    <!-- <div
      class="font-medium text-sm text-black border-t pt-3 mt-2 dark:text-white dark:border-slate-800"
    >
      <div class="px-3 pb-2 text-sm font-medium">
        <div class="text-black dark:text-white">Shortcut</div>
      </div>
      <a href="#">
        <div
          class="flex items-center gap-2 p-3 px-4 rounded-xl hover:bg-secondery"
        >
          <img
            src="assets/images/avatars/avatar-2.jpg"
            alt=""
            class="w-6 rounded-full object-cover"
          />
          <div>Marin Gray</div>
        </div>
      </a>
      <a href="#">
        <div
          class="flex items-center gap-2 p-3 px-4 rounded-xl hover:bg-secondery"
        >
          <img
            src="assets/images/avatars/avatar-7.jpg"
            alt=""
            class="w-6 rounded-full object-cover"
          />
          <div>Alexa Stella</div>
        </div>
      </a>
      <a href="#">
        <div
          class="flex items-center gap-2 p-3 px-4 rounded-xl hover:bg-secondery"
        >
          <img
            src="assets/images/avatars/avatar-3.jpg"
            alt=""
            class="w-6 rounded-full object-cover"
          />
          <div>Sarah Ali</div>
        </div>
      </a>
    </div> -->
  </div>
</div>

<!-- sidebar overly -->
<div
  id="site__sidebar__overly"
  class="absolute top-0 left-0 z-20 w-screen h-screen xl:hidden backdrop-blur-sm"
  uk-toggle="target: #site__sidebar ; cls :!-translate-x-0"
></div>
