<div class="box p-5 px-6">
  <div class="flex items-baseline justify-between text-black dark:text-white">
    <h3 class="font-bold text-base">People you may know</h3>
    <a href="#" class="text-sm text-blue-500">See all</a>
  </div>

  <div class="side-list">
    <div class="side-list-item" *ngFor="let p of people">
      <a href="timeline.html">
        <img
          [src]="'assets/images/avatars/' + p.avatar"
          alt=""
          class="side-list-image rounded-full"
        />
      </a>
      <div class="flex-1">
        <a href="timeline.html"
          ><h4 class="side-list-title">{{ p.people_name }}</h4></a
        >
        <div class="side-list-info">{{ p.follower_number }} Theo dõi</div>
      </div>
      <button class="button bg-primary-soft text-primary dark:text-white">
        Theo dõi
      </button>
    </div>

    <button class="bg-secondery button w-full mt-2 hidden">See all</button>
  </div>
</div>
